<div class="col-sm-10 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto align-self-center text-start" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="container">
    <div class="row">
      <div class="col text-center"> <!-- タイトルを真ん中に揃える -->
        <h3>会員一覧</h3>
      </div>
    </div>

    <div class="row justify-content-center"> <!-- テーブルを真ん中に揃える -->
      <table class="table table-hover table-inverse">

        <thead>
          <tr class="text-center">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
          <tr class="text-center font-size 18px;">
            <td><%= customer.id %></td>

            <td><%= link_to "#{customer.last_name} #{customer.first_name}",admin_customer_path(customer.id) %></td>

            <td><%= customer.email %></td>

            <td>
            <% if customer.is_active %>
            <span class='text-success'>有効</span>
            <% else %>
            <span class='text-secondary'>退会</span>
        　   <% end %>
            </td>

          </tr>
          <% end %>
        </tbody>

        </table>

        <ul class="Pagination">
          <li class="Pagination-Item">
              <a class="Pagination-Item-Link" href="/pages/1/">
                  <svg xmlns="http://www.w3.org/2000/svg" class="Pagination-Item-Link-Icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
                  </svg>
              </a>
          </li>
          <li class="Pagination-Item">
              <a class="Pagination-Item-Link" href="/pages/1/"><span>1</span></a>
          </li>
          <li class="Pagination-Item">
              <a class="Pagination-Item-Link isActive" href="/pages/2/"><span>2</span></a>
          </li>
          <li class="Pagination-Item">
              <a class="Pagination-Item-Link" href="/pages/3/"><span>3</span></a>
          </li>
          <li class="Pagination-Item">
              <a class="Pagination-Item-Link" href="/pages/4/"><span>4</span></a>
          </li>
          <li class="Pagination-Item">
              <a class="Pagination-Item-Link" href="/pages/5/"><span>5</span></a>
          </li>
          <li class="Pagination-Item">
              <a class="Pagination-Item-Link" href="/pages/5/">
                  <svg xmlns="http://www.w3.org/2000/svg" class="Pagination-Item-Link-Icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                  </svg>
              </a>
          </li>
      </ul>

    </div>
  </div>
</div>
