<h2>検索結果: "<%= @content %>"</h2>

<% if admin_signed_in? %>
  <!-- 管理者側の検索結果 -->
  <% if @customers %>
    <%= render 'layouts/admin_customer_index', customers: @customers %>
  <% elsif @items %>
    <%= render 'layouts/admin_item_index', items: @items %>
  <% else %>
    <p>該当する結果がありません。</p>
  <% end %>
<% else %>
  <!-- ユーザー側の検索結果 -->
  <% if @items.present? %>
    <%= render 'layouts/public_item_index', items: @items, total_items: @total_items %>
  <% else %>
    <p>該当する商品がありません。</p>
  <% end %>
<% end %>
