<div class="col-sm-15 col-md-13 col-lg-10 px-8 px-sm-0 mx-auto align-self-center" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="text-center px-5 px-sm-0 mx-auto align-self-center text-start" style="margin-top: 100px; margin-bottom: 50px;">
    <h1 class="text-center">ご注文ありがとうございました。<br>
     商品の発送まで今しばらくお待ちください</h1>

    <div class="d-flex justify-content-center">
      <%= image_tag 'thanks.logo.jpg', style: "width: 900px; height: 550px;" %>
    </div>
  </div>
</div>