<footer style="background-color: #FAD4D4; color: black;">
  <div class="container">
    <div class="row">
      <div class="col-6" style="margin-top: auto; margin-bottom: auto;">

        <div>
          <i class="fa-brands fa-twitter"></i>　

          <i class="fa-brands fa-instagram"></i>　

          <i class="fa-brands fa-tiktok"></i>　
        </div>
      </div>

      <div class="col-6 text-right">
        <div style="font-size: 12px;">
          <a class="text-center mt-5" style="font-size: 15px; font-family: 'Itim', cursive;">
            <%= link_to image_tag("logo1.png", style: "width: 50px; height: 60px;"), new_admin_session_path %>
            © 2024 LIKES FASHION Co.,Ltd. All Rights Reserved.
          </a>
        </div>
      </div>

    </div>
  </div>
</footer>